/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Paleta de colores */
:root {
    --verde-principal: #28a745;
    --blanco: #ffffff;
    --verde-musgo: #888660;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--verde-musgo); /* Cambia el fondo a verde musgo claro */
    color: var(--blanco); /* Cambia el color del texto a blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: bold; /* Negrita para el texto */
    z-index: 10;
}



/* Icono de Instagram en la barra superior */
.social-link {
    position: absolute;
    right: 1rem;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #5F5F39;
    color: var(--blanco);
    height: 200px;
    margin-top: 2rem; /* Ajusta este valor según el alto de la barra superior */
}




.logo {
    max-width: 100%; /* Ajusta el ancho del logo según tus preferencias */
    height: auto;
    margin: 0; /* Elimina márgenes adicionales */
}


.navigation {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Alinea el contenido verticalmente */
    padding: 10px;
}


.producto-section {
    padding: 2rem 0;
}

.video-container h2 {
    font-weight: bold;
}

.video-container p {
    color: #666;
}

.images-container .img-fluid {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Agrega bordes redondeados a las imágenes */
}

.col-md-6.images-container {
    margin-top: 30px;
}

.sello-section {
    text-align: left;
    margin-top: 20px;
}

.sello-container {
    display: flex; /* Alinea los sellos en una sola fila */
    flex-direction: row; /* Asegura que los elementos estén en fila */
    gap: 10px; /* Espacio entre cada sello */
    justify-content: flex-start; /* Alinea los sellos a la izquierda */
    align-items: center; /* Centra los sellos verticalmente */
}

.sello-img {
    width: 80px; /* Ajusta el tamaño del sello según tus necesidades */
    height: auto;
}


/* Ajustes en la Sección Historia y Ubicaciones */
.historia-ubicaciones-section {
    padding: 2rem 0;
}

.historia-container {
    padding-right: 1rem;
}

.historia-item {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.historia-item h4 {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.mapa-container {
    padding-left: 1rem;
}

#mapa iframe {
    width: 100%; /* Ajusta el mapa para que ocupe todo el contenedor */
    height: 350px; /* Ajusta la altura del mapa */
    border-radius: 8px;
    border: none; /* Sin bordes alrededor del mapa */
}













/* Footer Estilos */
.footer {
    background-color: #5F5F39; /* Fondo verde musgo */
    padding: 1rem 0;
    color: #ffffff; /* Texto blanco */
    font-size: 0.9rem;
    border-top: 1px solid #ddd; /* Línea sutil en la parte superior del footer */
    font-weight: bold; /* Texto en negrita */
}




.logo-img{

    width: 150px;
    height: auto;
}

footer.footer {
    text-align: center;
}


/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

}


